.tabComponent
{
	position: relative;
}

.tabComponent .tab
{
	float: left;
}

.tabComponent .tab .content
{
	position: absolute;
	left: 0px;
	top: 27px;
	width: 50%;
	padding: 20px 15px;
	border-radius: 5px;
    background: #303030;
    color: white;    
    opacity: 0;
    transition: opacity 500ms ease-out;
}

.tab-radio
{
	display: none;
}

.tab label
{
	margin-right: 10px;
	cursor: pointer;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.tab-radio:checked ~ label
{
	padding: 10px;
	color: white;
	background-color: #303030;
	cursor: default;
}

.tab-radio:checked ~ .content
{
	z-index: 1;
    opacity: 1;
    transition: opacity 500ms ease-out;	
}